<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Flight View</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap 4.3.1 CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>

        <!-- Bootstrap-Select 1.13.11 CDN -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.11/dist/css/bootstrap-select.min.css">
            
    </head>

    <body ng-app="myModule" ng-controller="myCtrl" style="background-color:aliceblue">
        <div class="container">
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#">List View</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Matrix View</a></li>
        </ul>

        
        <label>
            <span class="badge badge-light">
                <script>
                    var aa = JSON.parse(sessionStorage.getItem("results")); 
                    document.write(aa.length);         
                </script>
            </span>of 3 Shown - one-way 
        </label>
        
        <div class="box-body">
            <table class="table table-hover" id="booking-table">
                <thead>
                    <tr>
                        <th>     </th>
                        <th>Price  </th>
                        <th>  </th>
                        <th>Ariline</th>
                        <th>Take-off</th>
                        <th>Landing</th>
                        <th>Stop (Duration)</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-12">
            <ul class="booking-list">
                <% search_result_flights.forEach( (s , index)=>{  %>
                    <li>
                        <div class="body">
                            <div class="booking-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h2 class="text-primary">$<%= s.price %></h2>
                                        <p>/person</p>
                                        <p class="booking-item-flight-class">Class: Economy</p>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="booking-item-airline-logo">
                                            <p ><%= s.airline %></p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <h5><%= s.fromAirport %>   <%= s.takeoffTime %></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5><%= s.toAirport %>   <%= s.landingTime %></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <% let time = s.travelHours.split('.') %> 
                                        <h5><%= s.transitNumber %>   (  <%= time[0] + " h "+ time[1] + " m )" %></h5>
                                        <button  style="margin-top:20px;margin-bottom:15px" type="button"class="btn btn-warning btn-lg btn3d" ng-click="clickdetail(<%= index %>)">
                                            Detail
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-8" ng-show="bt_click[<%= index %>]">
                                <div class="row">
                                    <div class="col-md-8">
                                        <!-- <p>Flight Details</p> -->
                                        <h3 class="text-warning">OUTBOUND</h3>
                                        <h5 class="list-title"><%= s.date %></h5>
                                        <div class="row">
                                            <h2 class="col-md-6"><%= s.takeoffTime %></h2>
                                            <h4 class="col-md-6"><%= s.airportfrom %></h4>

                                        </div>
                                        <hr class="style1"> 
                                        <div class="row">
                                            <h2 class="col-md-6"><%= s.landingTime %></h2>
                                            <h4 class="col-md-6"><%= s.airportto %></h4> 

                                        </div>
                                        <form id= "eventForm" method="POST"  action="passenger">
                                            <input type="hidden" name= "fight" value="<%=s.price %>">
                                            <center>
                                                <button class="btn btn-danger" onclick="submit()" >Select</button>

                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
          
        </div>
        <div class="container">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
            <!-- Close pagination -->
            </ul>
            <div class="form-control-inline">
                Results per page:
                <select class="custom-select" style="width:auto;"name = "page">
                    <option value="1"selected>1</option>
                    <option value="2">2</option>
                    <option value="3" >3</option>
                    <option value="4" >4</option>
                </select>
            </div>
        </div>
    </body>
</html>
    
    
<!-- Script For Bootstrap 4.3.1 CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
<script >
    var frm = $('#eventForm');
    frm.submit(function (ev) {
        ev.preventDefault();
        console.log(frm.attr('url'))
        $.ajax({
            url: frm.attr('action'),
            type: frm.attr('method'),
            data: frm.serialize(),
        });

    })
var app = angular.module('myModule', ["ngRoute"]);


app.controller('myCtrl', ['$scope', '$timeout', function ($scope,$timeout) {
    $scope.bt_click= []
    // $scope.bt_click = false;
    $scope.clickdetail = function (index ) {

        if( $scope.bt_click[index] == true){
            $scope.bt_click[index] = false   
 
        }else{
             $scope.bt_click[index] = true   
        }
    }
}]);
</script>